/* the custom web style here */

:root {
    --yellow-color: #F9B13B;
    --light-blue-color: #4EC2ED;
    --dark-blue-color: #202C53;
    --blue-color: #207ABF;
    --red-color: #f02f2e;
    --input-color: #F0F2F7;
    --input-txt-color: #676666;
}

body {
    font-family: "Almarai", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .5px;
    padding: 0;
    margin: 0;
    background-color: #f5f4f4;
    text-align: right
}

.blue-text {
    color: var(--blue-color);
    font-weight: bold;
}

.dark-blue-text {
    color: var(--dark-blue-color);
    font-weight: bold;
}

a {
    text-decoration: none;
}

/************** Start header.php **************/

nav {
    box-shadow: 3px #207ABF;
}

.navbar {
    padding-bottom: 0;
}

.navbar-light .navbar-nav {
    position: relative;
}

/* margin between all nav items */

.navbar .navbar-nav .nav-item {
    margin: 0 20px;
}

/* this for p tag in navbar */

.nav-item .nav-text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-blue-color);
}

/* color when hover on nav item */

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--blue-color);
}

/* color when click in nav item that make it active item */

.navbar-light .navbar-nav .active .nav-link {
    color: var(--blue-color);
}

/* to put underline on active item */

.navbar-light .navbar-nav .active {
    border-bottom: 2px solid var(--blue-color);
    content: "";
    display: block;
    position: relative;
    left: 0;
    right: 0;
}

/* style of btn link */

.navbar-light .btn {
    border-radius: 20px;
    font-weight: bold;
}

/* style of login btn link */

.navbar-light .loginbtn {
    background-color: var(--blue-color);
    color: #FFF;
}

/* style of  login btn link on hover */

.navbar-light .loginbtn:hover {
    background-color: #FFF;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
}

.navbar-light .logoutbtn:hover {
    background-color: #FFF;
    color: red;
    border: 1px solid red;
}

/* to make margin in small screen */

@media (max-width: 767px) {
    .collapse .btn {
        margin-bottom: 20px;
    }

    .navbar-light .navbar-nav .active {
        margin: auto;
    }
}

/* ***************logo svg  ****************/

.nav-icon .nav-item a .icon svg {
    max-width: 100%;
    height: auto;
}

#Layer_1 {
    max-width: 100%;
    height: auto;
}

.nav-icon li a {
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    margin: 0 .1rem;
    color: #222
}

.nav-icon li a .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 7px;
}

.nav-icon li a .icon svg path {
    fill: #222;
}

.nav-icon li.active a svg path {
    border-bottom: 2px solid var(--blue-color);
    content: "";
    display: block;
    position: relative;
    left: 0;
    right: 0;
}

.nav-icon li.active a svg path,
.nav-icon li:hover a svg path,
.nav-icon li:focus a svg path {
    fill: #207ABF;
}

/* ***************logo svg  ****************/
/************** end header.php **************/
/************** start login.php & signUp.php **************/

.login-page {
    height: 100%;
    width: 100%;
    padding-bottom: 7%;
    background-image: url('../img/background.png');
}

.signup-page {
    background-image: url('../img/background.png');
}

/* Start form */

.blue-btn {
    background-color: var(--blue-color);
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
}

.blue-btn:hover {
    color: #FFF;
}

@media (min-width:767px) {
    .all-form .form-control {
        width: 350px !important;
    }

    .all-form .d-grid .btn {
        width: 95% !important;
    }
}

/* on test  */

.all-form .form-check-input {
    margin: 0px 10px 10px 0px;
    color: var(--blue-color);
}

.all-form .form-check-label {
    margin: 0px 0px 10px 0px;
    padding-right: 5px;
    color: var(--dark-blue-color);
    font-weight: bold;
}

/*  */

.all-form .form-label {
    margin: 3px -18px 0px 0px;
    padding-right: 32px;
    color: var(--dark-blue-color);
    font-weight: bold;
}

.all-form .form-control {
    width: 100%;
    margin: 5px 10px 10px 10px;
    padding-right: 35px;
    color: var(--dark-blue-color);
}

.all-form .f-username {
    margin-bottom: 25px;
}

.all-form .form-control:focus {
    border: none;
    outline: none;
    color: var(--dark-blue-color);
}

.all-form .d-grid .btn {
    width: 100%;
    margin: 5px 10px 20px 10px;
}

/* validation field */
/* all icon */

.all-form .abs-con {
    position: relative;
}

.eye {
    cursor: pointer;
    position: absolute;
    top: 39px;
    left: 1em;
    color: var(--blue-color);
}

.eyeAdmin {
    cursor: pointer;
    position: absolute;
    top: 39px;
    left: 1em;
    color: var(--blue-color);
}

.start-icon {
    position: absolute;
    top: 39px;
    right: 1.3em;
    color: var(--blue-color);
}

#hide1 {
    display: none;
}

#hide3 {
    display: none;
}

#password.is-invalid,
#email.is-invalid {
    background-image: none;
}

.error-alert {
    margin: 5px 37px -20px 1px;
    width: 346px;
}

/* End form */
/************** end login.php **************/
/************** Start advance_search.php **************/

.advance_searchTitle {
    background-color: rgba(78, 194, 237, 0.2);
    font-weight: bold;
}

.searchForm {
    background-color: #EBEBEB;
}

.searchForm .form-label {
    font-weight: bold;
    color: var(--blue-color);
    font-size: 20px;
}

.searchForm .form-control {
    color: var(--dark-blue-color);
    border-radius: 10px;
    padding-right: 30px;
}

.searchForm .rest-btn,
.searchForm .rest-btn:hover {
    background-color: #FFF;
    border: 2px var(--blue-color);
    color: var(--blue-color);
    font-weight: bold;
    font-size: 20px;
}

/************** End advance_search.php **************/
/************** Start book_details.php **************/

.book-detail {
    background-color: #EBEBEB;
}

.book-detail .all-detail .detail {
    color: var(--blue-color);
    font-weight: bold;
}

.book-detail .all-detail p {
    margin-bottom: 0;
}

.book-detail .all-detail .custom-border {
    border-left: 2px solid var(--dark-blue-color);
}

.book-detail .book-desc {
    background-color: #FFF;
    color: var(--dark-blue-color);
    padding: 0;
    margin: 0;
}

.book-detail-btn {
    background-color: var(--blue-color);
    font-weight: bold;
    color: #FFF;
    margin: 10px;
}

.book-detail-btn:hover {
    background-color: var(--blue-color);
    font-weight: bold;
    color: #FFF;
    margin: 10px;
}

.hand-icon {
    font-size: 10px;
}

.book-icon {
    font-size: 6px;
}

/* upload page */

.upload-form .form-control {
    width: 50%;
}

/* style popup btn */

.add {
    background-color: var(--blue-color);
    color: #FFF;
    width: 30%;
    font-weight: bold;
    border: 2px solid white;
}

.cancel {
    background-color: #7F7F7F;
    color: #FFF;
    width: 30%;
    font-weight: bold;
    border: 2px solid white;
}

.logout-popup {
    background-color: var(--red-color);
    color: #FFF;
    width: 30%;
    font-weight: bold;
    border: 2px solid white;
}

.add:hover {
    background-color: #FFF;
    color: var(--blue-color);
    border: 2px solid var(--blue-color);
    font-weight: bold;
}

.cancel:hover {
    background-color: #FFF;
    color: #7F7F7F;
    width: 30%;
    border: 2px solid #7F7F7F;
    font-weight: bold;
}

.logout-popup:hover {
    background-color: #FFF;
    color: var(--red-color);
    border: 2px solid var(--red-color);
    font-weight: bold;
}

/* read more */

.more-text,
.less-btn {
    display: none;
}

.more-btn,
.less-btn {
    color: var(--blue-color);
    font-weight: bold;
    cursor: pointer;
}

/************** End book_details.php **************/
/* start of loading icon  */

.load-more-scroll-loader {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #207ABF;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    -webkit-animation: lds-ellipsis1 0.6s infinite;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    background: #202C53;
    left: 8px;
    -webkit-animation: lds-ellipsis2 0.6s infinite;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    -webkit-animation: lds-ellipsis2 0.6s infinite;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    background: #202C53;
    left: 56px;
    -webkit-animation: lds-ellipsis3 0.6s infinite;
    animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@-webkit-keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/*********** end of loading icon *******************/
/************** start of search  ***********/

.search {
    position: relative;
}

.search #search_txt {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search #search_txt:focus {
    box-shadow: none;
    border: 2px solid var(--blue-color);
}

#search_icon {
    color: var(--blue-color);
    font-size: 20px;
    position: absolute;
    top: 22px;
    right: 10px;
}

#search_btn {
    height: 50px;
    width: 110px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--blue-color);
}

/* float search result  */

#result_list {
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

/*when navigating through the items using the arrow keys:*/

#result_list.active {
    background-color: var(--blue-color) !important;
    color: #ffffff;
}

/****************** end of search  ****************/
/************ Start style of Add Bottom ***********/

.add-btn {
    background-color: var(--blue-color);
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.add-btn-small {
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    display: none;
}

.add-btn-big {
    height: 45px;
}

@media (max-width: 1000px) {
    .add-btn-big {
        display: none;
    }

    .add-btn-small {
        display: inline-block;
    }
}

.btn-line {
    border-left: 2px solid rgb(255, 255, 255);
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.add-btn-div {
    position: fixed;
    bottom: 20vh;
    right: 5vw;
}

/************ End style of Add Bottom ************/
/********************** start of categories style  **************/

.container-site {
    margin-top: 20px;
    max-width: 1230px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto
}

.views-row {
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin-bottom: 16px !important
}

.book-box {
    margin-bottom: 30px
}

.category-box {
    background-color: white;
    padding: 1rem;
    height: 100%;
    position: relative;
    margin-bottom: 30px;
    transition: .3s all
}

.category-box .book-result {
    margin-top: 2rem;
}

.category-box .book-result h3 {
    text-align: center;
    font-size: 17px;
    color: #202C53;
    margin-bottom: 2rem;
    font-weight: 700;
}

.category-box .book-result p {
    color: #202C53;
    text-align: center;
    font-size: 14px;
    line-height: 14px
}

.category-box:hover,
.book-box .book-teaser:hover {
    border-color: var(--blue-color) !important;
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1)
}

/***************** end of categories style  *************/
/***************** start of author style  *************/

.category-box .book-result .writer-avatar {
    max-width: 80px;
    margin: 0 auto 10px auto
}

.media-object {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #dadde1;
    padding: 1px;
    border-radius: 50%
}

/************ end of author style  ************/
/*************** start style for book rating star ***************/

.full-stars {
    color: var(--yellow-color);
}

.empty-stars {
    color: #7F7F7F;
}

/********************** style for action link ************************/

.book-links {
    width: 145px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 65%;
    left: 50%;
    transition: all 0.4s ease 0s;
}

.book-teaser:hover .book-links,
.category-box:hover .book-links {
    opacity: 1;
    top: 50%;
}

.book-links li {
    display: inline-block;
    margin: 0 2px;
}

.book-links li a {
    background: #fff;
    font-size: 16px;
    line-height: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    position: relative;
    transition: all 0.4s ease-out 0s;
}

.book-links li a:hover {
    box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
}

.book-links li a .fa-pen {
    color: var(--blue-color);
}

.book-links li a .fa-trash {
    color: red;
}

.book-links li a:hover .fa-pen {
    color: white;
}

.book-links li a:hover .fa-trash {
    color: white;
}

.book-links li #edit_icon:hover {
    background: var(--blue-color);
}

.book-links li #delete_icon:hover {
    background: red;
}

.book-links li a:before,
.book-links li a:after {
    content: attr(data-tip);
    color: #fff;
    background-color: #555;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -40px;
    transition: all 0.3s ease 0s;
}

.book-links li a:after {
    content: '';
    height: 10px;
    width: 10px;
    padding: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}

.book-links li a:hover:before,
.book-links li a:hover:after {
    display: block;
}

/*************** start style for book card ***************/
/**************** book card  ***************************/

.book-box .book-teaser {
    padding: 15px;
    transform: translateY(0);
    transition: .3s all .2s cubic-bezier(0.4, 0, .2, 1)
}

.book-box .book-teaser .book-image img {
    margin: 0 auto;
    max-height: 200px
}

.book-box .book-teaser .book-title a {
    color: var(--dark-blue-color);
    font-weight: bold;
}

.book-box .book-teaser .author-label a {
    color: var(--blue-color);
    font-weight: bold;
}

.rating-favorites {
    max-width: 168px;
    margin: .5rem 5px 0 5px;
}

.book-teaser .rating-favorites {
    margin: .5rem auto 0 !important
}

.rating {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    line-height: 15px
}

/********************** site feature section ************/

.feature-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.feature-box p {
    font-size: 15px;
}

#feature>div:nth-child(1)>.feature-box {
    background-color: #207ABF;
}

#feature>div:nth-child(2)>.feature-box {
    background-color: #4EC2ED;
}

#feature>div:nth-child(3)>.feature-box {
    background-color: #F9B13B;
}

#feature>div:nth-child(4)>.feature-box {
    background-color: #202C53;
}

/*********************** for author page tittle and breadcrumb **************/

.article-header {
    background-color: rgba(78, 194, 237, 0.2);
    position: relative;
    padding: 2.5rem 0;
    margin-bottom: 1rem
}

.article-header .title-page {
    font-size: 18px;
    margin-bottom: 1rem;
    color: #202C53;
    font-weight: bold;
}

.article-header .breadcrumb li,
.article-header .breadcrumb li a.active {
    color: #202C53;
    font-size: 16px;
}

.article-header .breadcrumb li a {
    color: #207ABF;
    text-decoration: none;
}

@media(max-width:768px) {
    .article-header {
        padding: 1rem 0 1rem 0
    }
}

.article-header .breadcrumb>li+li:before {
    padding: 0 4px;
    color: #333;
    content: "/\00a0"
}

/*********************** for author detail **************/

.author-heading {
    font-size: 25px;
    margin-bottom: 1rem;
    color: #207ABF;
}

.author-body {
    flex: 1;
}

.author-body p {
    color: #202C53;
    font-size: 14px;
}

@media(max-width:768px) {
    .author-img {
        width: 50px;
        height: 50px
    }

    .author-detail {
        display: block !important
    }
}

/****************** style for delete popup *****************/

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #484848;
}

#del_pop .modal-body p,
#no_del_pop .modal-body p {
    font-size: large;
}

/****************** style for rating popup *****************/

.stars {
    direction: ltr;
    color: #7F7F7F;
}

/* to colorize the star and its next star sibling */

.stars .rate:hover,
.stars .rate.active,
.stars .rate:hover~.rate,
.stars .rate.active~.rate {
    color: #f8ac09;
}

.rate {
    height: 50px;
    margin-left: -5px;
    padding: 5px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
}

.rate input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* to add emoji */

.rate:nth-child(5) .face::after {
    content: "\f119";
    /* ☹ */
}

.rate:nth-child(4) .face::after {
    content: "\f11a";
    /* 😐 */
}

.rate:nth-child(3) .face::after {
    content: "\f118";
    /* 🙂 */
}

.rate:nth-child(2) .face::after {
    content: "\f580";
    /* 😊 */
}

.rate:nth-child(1) .face::after {
    content: "\f59a";
    /* 😄 */
}

.face {
    opacity: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    background: var(--light-blue-color);
    border-radius: 5px;
    top: -50px;
    left: 2px;
    transition: 0.2s;
    pointer-events: none;
}

.face::before {
    font: var(--fa-font-solid);
    font-weight: 900;
    content: "\f0dd";
    display: inline-block;
    color: var(--light-blue-color);
    z-index: 1;
    position: absolute;
    left: 9px;
    bottom: -8px;
}

.face::after {
    font: var(--fa-font-solid);
    font-weight: 900;
    display: inline-block;
    color: #fff;
    z-index: 1;
    position: absolute;
    left: 5px;
    top: 5px;
}

.rate:hover .face {
    opacity: 1;
}

/* Makes the emoji stay displayed */

input[type="radio"]:checked+.face {
    opacity: 1 !important;
}

/****************** end for rating popup *****************/
/****************** star for add category popup *****************/

.pop-title {
    color: var(--blue-color);
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    width: 460px;
}

.category-name {
    color: var(--blue-color);
    font-weight: bold;
    font-size: 18px;
}

/****************** end for add category popup *****************/

#add_author_title,
#add_book_title {
    color: var(--blue-color);
}

#add_author_title svg {
    color: var(--blue-color);
    width: 30px;
    height: 30px;
    fill: var(--blue-color);
    margin-top: -7px;
}

#add_author input.form-control,
#add_author select,
#add_author textarea {
    background-color: var(--input-color);
    border: 0.5px solid #E3E8F0;
}

#add_author input:focus,
#add_author select:focus,
#add_author textarea:focus {
    box-shadow: 0 0 0 1.5px var(--blue-color);
}

#add_author input.is-invalid {
    box-shadow: 0 0 0 1.5px var(--red-color);
}

#add_author input.is-valid {
    box-shadow: 0 0 0 1.5px #198754;
}

/* start of add author img */

.profile-upload {
    --profile-size: 170px;
    position: relative;
}

#profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--profile-size);
    border: 2px solid var(--blue-color);
}

.profile-container {
    width: var(--profile-size);
    height: var(--profile-size);
    border-radius: var(--profile-size);
    overflow: hidden;
    border: 2px solid #fff;
}

.camera-icon {
    position: absolute;
    bottom: 2px;
    right: 2px;
    --camera-size: 55px;
    width: var(--camera-size);
    height: var(--camera-size);
    font-size: 45px;
    color: var(--dark-blue-color);
    background-color: var(--light-blue-color);
    border: 2px solid var(--dark-blue-color);
    border-radius: var(--camera-size);
}

/*********************** for author detail **************/

#add_book input.form-control,
#add_book select,
#add_book textarea {
    background-color: var(--input-color);
    border: 0.5px solid #E3E8F0;
}

#add_book input:focus,
#add_book select:focus,
#add_book textarea:focus {
    box-shadow: 0 0 0 1.5px var(--blue-color);
}

#add_book .series-group,
#add_book .attachment-group,
#add_book .multi-part-container {
    display: none;
}

/* #add_book .chose-how-part .form-check {
    display: inline; 
     /background-color: #198754;
} */
/*********************** for accordion icon **************/
.accordion-button:after {
    order: -1;
    margin-left: 1.5em;
    margin-top: -1em;
}
/*********************** start of advance search style **************/
.input-container {
    position: relative;
    height: 7rem;
    width: 7rem;
    margin: 1.5rem auto;
}

.input-container input {
    opacity: 0;
}

.input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid var(--blue-color);
    border-radius: 8px;
    transition: all 300ms ease;
    cursor: pointer;
}

.input-container i {
    color: var(--blue-color);
    font-size: 3rem;
}

.input-container span {
    color: var(--blue-color);
    font-size: 0.80rem;
    font-weight: 600;
    margin: 5px;
}

input:checked+.radio-tile {
    background-color: var(--blue-color);
    box-shadow: 0 0 12px var(--blue-color);
    transform: scale(1.1);
}

input:hover+.radio-tile {
    box-shadow: 0 0 12px var(--blue-color);
}

input:checked+.radio-tile i,
input:checked+.radio-tile span {
    color: white;
}
/*********************** end of advance search style **************/